/* For fixed navbar */
body {
  padding-top: 70px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.list-group-item > h3 {
  display: inline;
}

.repo-description {
  padding-top: 10px;
}

.stat-block {
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
}

.stat-block:hover {
  background-color: #f9f9f9;
}

.stat-block-text {
  color: #767676;
}

.list-group-item {
  padding-bottom: 0px
}

.navbar-btn {
  margin-left: 5px;
}

.show-stats-button {
  cursor: pointer;
  text-decoration: none;
}

.btn-block {
  margin-top: 30px;
  margin-bottom: 30px;
}
