/* For fixed navbar */
body {
  padding-top: 80px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

.badge-item {
  margin: 0 0 4px;
}

.krihelimeter-badge {
  display: flex;
  float: left;
  padding-right: 4px;
}

.label {
  display: inline-block;
  height: 20px;
  padding-top: .6em;
}

.repo-description {
  padding-top: 10px;
}

.stat-block {
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
}

.stat-block:hover {
  background-color: #f9f9f9;
}

.stat-block-text {
  color: #767676;
}

.navbar-header {
  min-height: 60px;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 60px;
}

nav img {
  height: 42px;
  margin-top: 10px;
}

nav .input-group {
    margin-top: 5px;
}

.header {
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.header img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.modal img {
  width: 100%;
}

.tile {
  display: inline-block;
	width: 100%;
}

.tiles {
	/* column width */
	-moz-column-width: 19em;
	-webkit-column-width: 19em;

	/* space between columns */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}

.wide-input-group {
    width: 100%;
    margin-bottom: 1em;
}

/* Costumizations for desktop. Mobile first! */
@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }

  .krihelimeter-badge {
    float: right;
  }
}
