web:
  build: .
  volumes:  # Override the files in the image with local files
    - ./_build:/opt/app/_build
    - ./config:/opt/app/config
    - ./lib:/opt/app/lib
    - ./priv:/opt/app/priv
    - ./python:/opt/app/python
    - ./test:/opt/app/test
    - ./web:/opt/app/web
  ports:
    - 4000:4000
  links:
    - db
    - stash
  env_file: ./secrets

db:
  image: postgres:9.5

stash:
  image: redis
