web:
  build: krihelinator
  volumes:
    - ./bigquery_private_key.json:/opt/app/bigquery_private_key.json:ro  # read only

    # Override the files in the image with local files
    - ./krihelinator/_build:/opt/app/_build
    - ./krihelinator/deps:/opt/app/deps
    - ./krihelinator/config:/opt/app/config
    - ./krihelinator/lib:/opt/app/lib
    - ./krihelinator/priv:/opt/app/priv
    - ./krihelinator/test:/opt/app/test
    - ./krihelinator/web:/opt/app/web
    - ./krihelinator/mix.exs:/opt/app/mix.exs
    - ./krihelinator/mix.lock:/opt/app/mix.lock
  ports:
    - 4000:4000
  links:
    - db

db:
  image: postgres:9.5
