<div class="header">
  <h1><%= @showcase.name %></h1>
  <h4><%= @showcase.description %></h4>
</div>

<ul class="list-group">
  <%= for repo <- @showcase.repos do %>
    <%= render("repo_item.html", conn: @conn, repo: repo, language: repo.language) %>
  <% end %>
</ul>
