/* Phoenix flash messages */
.alert:empty { display: none; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.repo-description {
  padding-top: 10px;
}

.stat-block {
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
}

.stat-block:hover {
  background-color: #f9f9f9;
}

.stat-block-text {
  color: #767676;
}

.list-group-item {
  padding-bottom: 0px
}

.btn-group > button {
  margin-right: 6px;
  margin-bottom: 4px;
  border-radius: 3px !important;
}

.small-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.krihelinator-badge {
  cursor: pointer;
}
