<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Filter by language
  <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li v-for="language in languages">
    <a v-on:click="filterByLanguage(language)">{{ language }}</a>
  </li>
</ul>
