<table class="table table-hover sortable-theme-bootstrap" data-sortable>
  <thead>
    <tr>
      <th>Language</th>
      <th>Total Krihelimeter</th>
      <th># of repositories</th>
    </tr>
  </thead>
  <tbody>
    <%= for language <- @languages do %>
      <tr>
        <td><%= link language.name, to: page_path(@conn, :language, language.name) %></td>
        <td><%= language.krihelimeter %></td>
        <td><%= language.num_of_repos %></td>
      </tr>
    <%= end %>
  </tbody>
</table>
