<div class="header">
  <h1><%= @language.name %></h1>

  <h4>
    <p>Total Krihelimeter: <b><%= @language.krihelimeter %></b></p>
    <%= link "Show language history", to: language_history_path(@conn, @language.name), class: "btn btn-primary" %>
  </h4>
</div>

<ul class="list-group">
  <%= for repo <- @language.repos do %>
    <%= render("repo_item.html", conn: @conn, repo: repo, language: @language) %>
  <%= end %>
</ul>
