<div class="header">
  <h1 class="text-center">Open source showcases</h1>
  <h4 class="text-center">Browse popular repositories based on the topic that interests you most.</h4>
</div>

<div class="row tiles">
  <%= for showcase <- @showcases do %>
    <div class="tile well">
      <h2><%= link showcase.name, to: page_path(@conn, :showcase, showcase.href) %></h2>
      <p><%= showcase.description %></p>
    </div>
  <%= end %>
</div>
